* {
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --primary-color: #0f1b4c;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins";
}

/* Common */
.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    min-width: 98px;
    padding: 18px 16px;
    border-radius: 12px;
    background: var(--primary-color);
    color: #fff;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/*============== Header ==============*/
.fixed-header {
    background-color: #e6f0ff;
    padding-top: 26px;
    position: sticky;
    top: -26px;
    z-index: 1;
}

.fixed-header .navbar {
    padding: 12px 0;
}

.hero-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e6f0ff;
    height: calc(100vh - 90px);
}

.navbar {
    display: flex;
    z-index: 1;
    align-items: center;
    padding-top: 38px;
}

.navbar ul {
    display: flex;
    margin-left: 50px;
}

.navbar ul a {
    color: #4f5361;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 8px 14px;
}

.navbar ul a:hover {
    text-decoration: underline;
    color: #6666669f;
}

.navbar .actions {
    margin-left: auto;
}

/* Sign in btn */
.navbar .action-link {
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 500;
}

/* Sign up btn */
.navbar .action-btn {
    padding: 13px 16px;
    margin-left: 18px;
    border-radius: 8px;
}

.btn:hover {
    opacity: 0.9;
}

.hero {
    margin-top: 130px;
}

.hero-wrap .info {
    width: 51%;
}

.hero-wrap .sub-title {
    color: #687690;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.018rem;
}

.hero-wrap .title {
    color: #000336;
    margin-top: 8px;
    font-size: 6.3rem;
    font-weight: 650;
    line-height: 7.6rem;
}

.hero-wrap .desc {
    color: #5a6473;
    margin-top: 30px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3.2rem;
}

.hero-wrap .hero-cta {
    min-width: 170px;
    margin-top: 40px;
}

.hero-wrap .hero-img {
    position: absolute;
    bottom: 0;
    right: calc((100vw - 1100px) / 2 - 100px);
}

/*============== Clients ==============*/
.clients {
    margin-top: 79px;
    padding: 43px 0px 64px;
}

/* Row 1 */
.clients .row {
    display: flex;
    justify-content: space-between;
}

/* Row 2 */
.clients .row-2 {
    margin-top: 23px;
}

.clients .desc {
    color: #7d8589;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2rem;
}

.clients .rating {
    color: #7d8589;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2rem;
}

.clients .img {
    display: flex;
    margin-top: 96px;
    align-items: center;
    justify-content: space-between;
}

.clients .img a {
    display: flex;
    align-items: center;
    height: 90px;
    padding: 0 42px;
    border-radius: 12px;
}

.clients .img a:hover {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
}

/*============== Guides ==============*/
.guides {
    margin-top: 40px;
    padding: 93px 0 79px;
}

.guides .sub-title {
    position: relative;
    color: #000339;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1;
}

.guides .sub-title::before {
    content: "";
    position: absolute;
    /* Khi thêm thuộc tính position: absolute; thì không cần thuộc tính inline-block nữa vì nó k làm phần tử không bị hạn chế của inline nữa */
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background: #000339;
}

.guides .desc {
    width: 459px;
    max-width: 100%;
    color: #5a6473;
    margin: 20px auto 0px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.875;
}

.guide-list {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.guide-item {
    margin: 0 70px;
    text-align: center;
}

.guide-item .title {
    color: #3b3c45;
    margin-top: 26px;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.1;
}

.guide-item .link {
    display: inline-block;
    color: #0689ff;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 600;
}

.guide-item .arrow {
    margin-left: 6px;
}

.guide-cta {
    display: flex;
    justify-content: center;
}

.guide-cta .btn {
    min-width: 170px;
    margin-top: 50px;
}

/*============== Features ==============*/
.featured {
    background: #f5fafe;
    padding: 110px 0;
    margin-top: 41px;
}

.featured .title {
    color: #000339;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1;
}

.featured .desc {
    margin-top: 15px;
    color: #5a6473;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.88;
}

.featured .row {
    display: flex;
    justify-content: space-between;
}

.featured .link {
    display: flex;
    align-items: center;
    margin-top: 20px;
    color: #0689ff;
    font-size: 1.8rem;
    font-weight: 600;
}

.featured .link .arrow {
    margin-left: 8px;
}

.featured .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 70px;
}

.featured .list-item {
    flex: 1;
    background: #fff;
    border-radius: 12px;
    transition: box-shadow 0.5s ease;
}

.featured .list-item:hover {
    box-shadow: 15px 15px 20px -3px rgba(0, 0, 0, 0.5);
}

.featured .thumb {
    width: 100%; /* Chiều rộng của ảnh bằng chiều rộng của thẻ cha chứa nó*/
    height: 227px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.featured .list-item .body {
    padding: 17px 20px 24px;
}

.featured .list-item .title {
    color: #000339;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1;
}

.featured .list-item .title a {
    color: #000339;
}

.featured .list-item .desc {
    margin-top: 11px;
    color: #a3a6ab;
    font-size: 1.4rem;
    font-weight: 500;
    word-break: break-all;
}

.featured .list-item .info {
    margin-top: 23px;
    display: flex;
    align-items: center;
}

.featured .list-item .label {
    margin-left: 8px;
    color: #444;
    font-size: 1.4rem;
    letter-spacing: 0.01;
    font-weight: 500;
}

.featured .list-item .icon:not(:first-child) {
    margin-left: 23px;
}

/*============== Stats ==============*/
.stats {
    margin-top: 75px;
    padding: 50px 0;
}

.stats .content {
    width: 1017px;
}

.stats .row {
    display: flex;
}

.stats .img-block,
.stats .info {
    width: 50%;
}

.stats .img-block {
    position: relative;
}

.stats .img-block .image-1 {
    display: block;
    margin-left: auto;
    width: 400px;
    height: 460px;
    object-fit: cover;
    border-radius: 12px;
}

.stats .info {
    padding: 79px 0 0 165px;
}

.stats .info .sub-title {
    position: relative;
    width: 269px;
    color: #000339;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.29;
}

.stats .sub-title::before {
    content: "";
    position: absolute;
    left: 0;
    top: -10px;
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background: #000339;
}

.stats .info .desc {
    margin-top: 20px;
    width: 309px;
    height: 150px;
    color: #5a6473;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.88;
}

.stats .stats-trend {
    background-color: #fff;
    width: 239px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 45px 22px 40px;
    border-radius: 0px 0px 12px 12px;
}

.stats-trend .row .value {
    color: #000339;
    font-size: 2.6rem;
    font-weight: 650;
    letter-spacing: 0.26px;
    margin-bottom: 8px;
}

.stats-trend .row .icon {
    margin-left: auto;
    padding-bottom: 6px;
}

.stats-trend .desc {
    color: #a7a7a7;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
}

.stats-trend .seperate-line {
    height: 1.2px;
    margin-top: 25px;
    background: #e9e9e9;
}

.stats .avatar-block {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 14px;
    margin-top: 26px;
}

.stats .avatar-group {
    display: flex;
}

.stats .avatar-group .avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 7.261px;
    font-weight: 450;
    letter-spacing: -0.145px;
    background-color: var(--bg-color, #fff);
    width: 16px;
    height: 16px;
    margin-left: -3px;
    border-radius: 50px;
    object-fit: cover;
}

.stats .avatar-group .avatar:first-child {
    margin-left: 0;
}

.stats .row-qty {
    margin: 110px 32px 0;
    justify-content: space-between;
    /* padding: 0 32px; */
}

.stats .qty-item .qty-num {
    color: #000;
    font-size: 6.4rem;
    font-weight: 600;
}

.stats .qty-item .qty-desc {
    color: #7b8087;
    margin-top: 24px;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 500;
}

/*============== Subscription ==============*/
.subscription {
    margin-top: 90px;
}

.subscription .body {
    position: relative;
    display: flex;
    align-items: center;
    height: 370px;
    background: #063183;
    border-radius: 20px;
}

.subscription .info {
    padding: 0 80px;
    width: 671px;
    max-width: 100%;
}

.subscription .info .sub-title {
    color: #fff;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 15px;
}

.subscription .info .desc {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.88;
    margin-bottom: 20px;
    opacity: 0.75;
}

.subscription .info .btn {
    color: #002366;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
    border-radius: 12px;
    background: #fff;
    min-width: 151px;
    height: 50px;
}

.subscription .body .image {
    position: absolute;
    bottom: 0;
    right: 221px;
}

/*============== Footer ==============*/
.footer {
    margin-top: 50px;
    padding: 50px 0 58px;
}

.footer .row {
    display: flex;
}

.footer .row-top {
    gap: 185px;
}

.footer .row-top .heading {
    color: #1c1c1d;
    font-family: Lato;
    font-size: 2rem;
    font-weight: 700;
}

.footer .row-top .list,
.footer .column .desc {
    margin-top: 42px;
}

.footer .list .item {
    margin-top: 18px;
    white-space: nowrap; /* Ngăn không cho nội dung các mục trong list xuống hàng*/
}

.footer .list .item a,
.footer .column .desc {
    color: #7a7a7e;
    font-size: 1.6rem;
    font-weight: 400;
}

.footer .column .desc {
    line-height: 1.75;
}

.footer .social-media {
    display: flex; /* Đặt để cho các item không bị thừa khoảng trắng do thẻ <a> của các icon xuống hàng trong HTML*/
    margin-top: 40px;
}

.footer .social-media .social-link {
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer .social-media .social-link + .social-link {
    margin-left: 16px;
}

.footer .social-media .social-link:hover {
    border-radius: 3px;
    background: #ebebeb;
}

.footer .row-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 81px;
}

.footer .row-bottom .copyright {
    color: #c2c2c2;
    font-size: 1.4rem;
    font-weight: 400;
}
